// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pricing-table-header {
	height: 200px !important;
}

.pure-menu-item {
	font-size: 20px;
}

.splash-container {
	background: url('http://i1268.photobucket.com/albums/jj576/randerTw/home-background_zpsmflbfkxu.jpg') center center no-repeat fixed;
	background-size: cover;
}

.splash * {
	border: none;
}

.splash h1 {
	text-shadow: 2px 2px black;
}

#front-splash {
	margin: -2vh 0vw 0vh 0vw;
	width: 30vw;
}

#logo img {
	margin: 0;
}